/* Import only the fonts and weights you need for your project */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Roboto+Mono:wght@400;700&display=swap');

/* Your Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;